html {
  color: #000;
  background: #FFF;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
a {
  background: transparent;
}
a,
a:active,
a:hover {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  overflow: auto;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
svg {
  display: block;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0;
}
::selection {
  background: #40b4de;
  color: #fff;
}
::-moz-selection {
  background: #40b4de;
  color: #fff;
}
* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #40b4de;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a:hover {
  color: #1b7a9d;
  text-decoration: none;
}
a:active {
  color: #97d6ed;
}
a:focus {
  outline: none;
}
p {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 11px;
}
table {
  width: 100%;
}
table thead,
table tr,
table th,
table td {
  vertical-align: middle;
}
table td {
  padding-right: 20px;
}
.input_group {
  display: block;
  position: relative;
  width: 100%;
  min-height: 70px;
  margin-bottom: 10px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group {
    min-height: 64px;
    margin-bottom: 0;
  }
}
.input_group label.input_label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  cursor: text;
  padding: 0 0 0 15px;
}
.input_group label.input_label .label_text {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: .7px;
}
fieldset.input_label .label_text, h1 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: .7px;
  padding-left: 15px;
}
fieldset.input_label .label_text input {
  margin-right: 10px;
}
input[type=date] {
  text-align: right;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group label.input_label .label_text {
    font-size: 16px;
    font-weight: 300;
  }
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group label.input_label {
    height: 64px;
  }
}
.input_group.input_empty.input_unfocused {
  color: #999;
}
.input_group.input_focused label.input_label,
.input_group.input_hasValue label.input_label {
  height: 46px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group.input_focused label.input_label,
  .input_group.input_hasValue label.input_label {
    height: 40px;
  }
}
.input_group.input_focused label.input_label .label_text,
.input_group.input_hasValue label.input_label .label_text {
  color: #b8bdc4;
  letter-spacing: .7px;
  font-size: 11px;
}
.input_group.input_unfocused.input_hasValue.input_valid label.input_label {
  color: #b1b0b1;
}
.input_group input.input {
  display: block;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 18px 15px 0 15px;
  margin: 0 auto 13px auto;
  color: #363b4a;
  letter-spacing: .7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 70px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group input.input {
    font-size: 14px;
    padding: 15px 15px 0 15px;
    height: 64px;
  }
}
.input_group input.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  color: #cacaca;
}
.input_group i {
  top: 0;
  right: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 20px;
  height: 70px;
  z-index: 1000;
  position: absolute;
  z-index: 100;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .input_group i {
    height: 64px;
  }
}
.input_group i svg {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 20px;
  height: 20px;
}
.input_group i.input_error_icon {
  z-index: 10;
}
.input_group i.input_error_icon path {
  fill: #f16767;
}
.input_group i.input_valid_icon {
  z-index: 1;
}
.input_group i.input_valid_icon path {
  fill: #50b87f;
}
.input_group.input_error i.input_error_icon svg {
  opacity: 1;
}
.input_group.input_valid i.input_error_icon {
  z-index: 1;
}
.input_group.input_valid i.input_valid_icon {
  z-index: 10;
}
.input_group.input_valid.input_hasValue i.input_valid_icon svg {
  opacity: 1;
}
.error_container {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 100%;
  white-space: nowrap;
  line-height: 70px;
  width: auto;
  height: 70px;
  background: rgba(51, 51, 51, 0);
  border: 2px solid #f16767;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px 0 20px;
  color: #f16767;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: .6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .error_container {
    position: relative;
    top: -13px;
    left: 0;
    line-height: 30px;
    font-size: 12px;
    padding: 0 15px 0 15px;
    font-weight: 300;
  }
}
.error_container.visible {
  -o-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .error_container.visible {
    height: 30px;
  }
}
.error_container.invisible {
  -o-transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .error_container.invisible {
    height: 0;
    line-height: 0;
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.password_validator {
  top: 0;
  left: 105%;
  position: absolute;
  display: block;
  opacity: 0;
  width: 320px;
  height: auto;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  z-index: 100;
}
.password_validator:after {
  display: block;
  position: absolute;
  top: 30px;
  left: -10px;
  content: '';
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e4e7e8;
}
.password_validator .validator_container {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #e4e7e8;
  padding: 10px 0px 10px 20px;
}
.password_validator .validator_container h4.validator_title {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 12px 0 5px 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #363b4a;
  opacity: .25;
  letter-spacing: 1.5px;
}
.password_validator .validator_container h4.validator_title.valid {
  color: #50b87f;
  opacity: 1;
}
.password_validator .validator_container ul.rules_list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
.password_validator .validator_container ul.rules_list > li {
  display: block;
  position: relative;
  margin: 12px 0 12px 0;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 200;
  color: #363b4a;
}
.password_validator .validator_container ul.rules_list > li .bad_word {
  font-style: italic;
  padding: 0 5px 0 0;
}
.password_validator .validator_container ul.rules_list > li .bad_word:after {
  content: ',';
  display: inline;
}
.password_validator .validator_container ul.rules_list > li .bad_word:last-child {
  padding: 0;
}
.password_validator .validator_container ul.rules_list > li .bad_word:last-child:after {
  display: none;
}
.password_validator .validator_container ul.rules_list > li .icon_invalid {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  width: 18px;
  height: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.password_validator .validator_container ul.rules_list > li .icon_invalid svg {
  opacity: 1;
  width: 18px;
  height: 18px;
}
.password_validator .validator_container ul.rules_list > li .icon_invalid svg path {
  fill: #f16767;
}
.password_validator .validator_container ul.rules_list > li .icon_valid {
  position: absolute;
  top: 1px;
  left: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.password_validator .validator_container ul.rules_list > li .icon_valid svg {
  opacity: 1;
  width: 19px;
  height: 19px;
}
.password_validator .validator_container ul.rules_list > li .error_message {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 0 0 27px;
  opacity: .9;
}
.password_validator .validator_container ul.rules_list > li.valid .icon_invalid {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}
.password_validator .validator_container ul.rules_list > li.valid .icon_valid {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.password_validator .validator_container ul.rules_list > li.valid .error_message {
  opacity: .3;
}
.password_validator.visible {
  -o-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.password_validator.invisible {
  -o-transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
  opacity: 0;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.Select {
  position: relative;
}
.Select .Select-control {
  display: block;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: 70px;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background: white;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  outline: none;
  margin: 13px auto;
  padding-left: 15px;
  color: #999;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 18px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select .Select-control {
    height: 64px;
  }
}
.Select.is-searchable.is-open > .Select-control {
  cursor: text;
}
.Select.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: white;
  border-color: #b3b3b3 #cccccc #d9d9d9;
}
.Select.is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999999;
  border-width: 0 8px 8px;
}
.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.Select .Select-placeholder {
  display: block;
  top: 20px;
  left: 0;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: .7px;
  position: absolute;
  cursor: text;
  padding: 0 0 0 15px;
  color: #c1c5cc;
  z-index: 10;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select .Select-placeholder {
    font-size: 16px;
    font-weight: 300;
  }
}
.Select .Select-actual-placeholder {
  position: absolute;
  display: none;
  color: #b8bdc4;
  letter-spacing: .3px;
  font-size: 11px;
  top: 14px;
  left: 15px;
  z-index: 10;
  font-weight: 300;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select .Select-actual-placeholder {
    font-weight: 300;
  }
}
.Select.is-focused .Select-placeholder {
  opacity: 0;
}
.Select.has-value .Select-actual-placeholder,
.Select.is-focused.has-value .Select-actual-placeholder {
  display: block;
}
.Select.has-value .Select-placeholder,
.Select.is-focused.has-value .Select-placeholder {
  color: #333333;
  opacity: 1;
  top: 30px;
  color: #363b4a;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 16px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select.has-value .Select-placeholder,
  .Select.is-focused.has-value .Select-placeholder {
    font-size: 14px;
  }
}
.Select.is-focused .Select-placeholder {
  opacity: 0;
}
.Select.is-focused .Select-actual-placeholder {
  display: block;
}
.Select.is-open .Select-actual-placeholder {
  display: block;
}
.Select.is-open .Select-placeholder {
  display: none;
}
.Select.is-open.has-value .Select-placeholder,
.Select.is-open.has-value.is-focused .Select-placeholder {
  display: block;
}
.Select .Select-input > input {
  display: block;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 410px;
  height: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 16px 15px 0 15px;
  margin: 0 auto 13px auto;
  color: #363b4a;
  letter-spacing: .5px;
  font-weight: 300;
  font-size: 16px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select .Select-input > input {
    height: 64px;
    font-size: 14px;
  }
}
.is-focused .Select .Select-input > input {
  cursor: text;
}
.Select .Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select .Select-loading {
  -moz-animation: spin 400ms infinite linear;
  -ms-animation: spin 400ms infinite linear;
  -webkit-animation: spin 400ms infinite linear;
  -o-animation: spin 400ms infinite linear;
  animation: spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #cccccc;
  border-right-color: #333333;
  display: inline-block;
  position: relative;
  margin-top: -8px;
  position: absolute;
  right: 30px;
  top: 50%;
}
.Select .has-value > .Select-control > .Select-loading {
  right: 46px;
}
.Select .Select-clear {
  opacity: 0;
}
.Select-arrow {
  border-color: #999999 transparent transparent;
  border-style: solid;
  border-width: 8px 8px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(4px);
  position: absolute;
  right: 15px;
  top: 40px;
  width: 0;
  opacity: .8;
  z-index: 1;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select .Select-arrow {
    top: 30px;
  }
}
.Select .Select-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  margin-top: 0px;
  margin-left: -2px;
  border: 2px solid #f0f4f5;
  max-height: 210px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}
.Select .Select-menu::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-button {
  background-color: transparent;
}
.Select .Select-menu::-webkit-scrollbar-corner {
  background-color: transparent;
}
.Select .Select-menu::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 1px 1px 1px 2px;
  background-color: #c5c5c5;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}
.Select .Select-menu::-webkit-scrollbar-track {
  border: solid #fff;
  border-width: 1px 1px 1px 2px;
  background-color: #fff;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-track-piece {
  border-left: 1px solid #ccc;
  background-color: transparent;
}
.Select .Select-menu::-webkit-scrollbar:horizontal {
  height: 12px;
  background-color: transparent;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-track:horizontal {
  background-color: #fff;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-track-piece:horizontal {
  border-top: 1px solid #ccc;
  border-left: 1px solid transparent;
}
.Select .Select-menu::-webkit-scrollbar-thumb:horizontal {
  border: solid transparent;
  border-width: 2px 1px 2px 2px;
  background-color: #c5c5c5;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #bfbfbf;
}
.Select .Select-menu::-webkit-scrollbar-corner {
  display: none;
}
.Select .Select-menu::-webkit-resizer {
  display: none;
}
.Select .Select-menu::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
  background-clip: content-box;
  cursor: pointer;
}
.Select .Select-menu::-webkit-scrollbar-button {
  background-color: transparent;
}
.Select .Select-menu::-webkit-scrollbar-corner {
  background-color: transparent;
}
.Select .Select-menu::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 6px;
  background-color: #c5c5c5;
  background-clip: content-box;
  cursor: pointer;
}
.Select .Select-menu::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}
.Select .Select-menu::-webkit-scrollbar-track {
  border: solid #fff;
  border-width: 1px 1px 1px 2px;
  background-color: #fff;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-track-piece {
  border-left: 1px solid #f0f4f5;
  background-color: transparent;
}
.Select .Select-menu::-webkit-scrollbar:horizontal {
  height: 12px;
  background-color: transparent;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-track:horizontal {
  background-color: #fff;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-track-piece:horizontal {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
.Select .Select-menu::-webkit-scrollbar-thumb:horizontal {
  border: solid transparent;
  border-width: 2px 1px 2px 2px;
  background-color: #c5c5c5;
  background-clip: content-box;
}
.Select .Select-menu::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #bfbfbf;
}
.Select .Select-menu::-webkit-scrollbar-corner {
  display: none;
}
.Select .Select-menu::-webkit-resizer {
  display: none;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .Select .Select-menu {
    top: 64px;
  }
}
.Select .Select-option {
  box-sizing: border-box;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  font-weight: 100;
  letter-spacing: .4px;
}
.Select .Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select .Select-option.is-focused {
  background-color: #82d2f0;
  color: #fff;
}
.Select .Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
.button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  border: none;
  border-radius: 3px;
  background: #545a6a;
  color: #ffffff;
  font: normal normal 200 13px/40px 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 40px;
  padding: 0px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  white-space: nowrap;
}
.button.button_wide {
  display: block;
  position: relative;
  width: 100%;
  margin: 20px 0 0 0;
  height: 50px;
  font-size: 13px;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background: #97d6ed;
}
.button:active,
.button.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #6bc5e6;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  background: #f0f0f0;
  overflow: hidden;
  font: normal normal 100 14px/1.6 'Roboto', sans-serif;
  -webkit-overflow-scrolling: touch;
  display: block;
}
.application_wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.application_wrapper::-webkit-scrollbar {
  width: 11px;
  background-color: transparent;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-button {
  background-color: transparent;
}
.application_wrapper::-webkit-scrollbar-corner {
  background-color: transparent;
}
.application_wrapper::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 1px 1px 1px 2px;
  background-color: #c5c5c5;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}
.application_wrapper::-webkit-scrollbar-track {
  border: solid #fff;
  border-width: 1px 1px 1px 2px;
  background-color: #fff;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-track-piece {
  border-left: 1px solid #ccc;
  background-color: transparent;
}
.application_wrapper::-webkit-scrollbar:horizontal {
  height: 12px;
  background-color: transparent;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-track:horizontal {
  background-color: #fff;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-track-piece:horizontal {
  border-top: 1px solid #ccc;
  border-left: 1px solid transparent;
}
.application_wrapper::-webkit-scrollbar-thumb:horizontal {
  border: solid transparent;
  border-width: 2px 1px 2px 2px;
  background-color: #c5c5c5;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #bfbfbf;
}
.application_wrapper::-webkit-scrollbar-corner {
  display: none;
}
.application_wrapper::-webkit-resizer {
  display: none;
}
.application_wrapper::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
  background-clip: content-box;
  cursor: pointer;
}
.application_wrapper::-webkit-scrollbar-button {
  background-color: transparent;
}
.application_wrapper::-webkit-scrollbar-corner {
  background-color: transparent;
}
.application_wrapper::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 6px;
  background-color: #c5c5c5;
  background-clip: content-box;
  cursor: pointer;
}
.application_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}
.application_wrapper::-webkit-scrollbar-track {
  border: solid #fff;
  border-width: 1px 1px 1px 2px;
  background-color: #fff;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-track-piece {
  border-left: 1px solid #f0f4f5;
  background-color: transparent;
}
.application_wrapper::-webkit-scrollbar:horizontal {
  height: 12px;
  background-color: transparent;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-track:horizontal {
  background-color: #fff;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-track-piece:horizontal {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}
.application_wrapper::-webkit-scrollbar-thumb:horizontal {
  border: solid transparent;
  border-width: 2px 1px 2px 2px;
  background-color: #c5c5c5;
  background-clip: content-box;
}
.application_wrapper::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #bfbfbf;
}
.application_wrapper::-webkit-scrollbar-corner {
  display: none;
}
.application_wrapper::-webkit-resizer {
  display: none;
}
.application_wrapper .create_account_screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 520px;
  opacity: 0;
  -moz-animation: fadeIn 0.4s ease-in-out forwards;
  -ms-animation: fadeIn 0.4s ease-in-out forwards;
  -webkit-animation: fadeIn 0.4s ease-in-out forwards;
  -o-animation: fadeIn 0.4s ease-in-out forwards;
  animation: fadeIn 0.4s ease-in-out forwards;
}
.application_wrapper .create_account_screen .create_account_form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  margin: 80px 0 200px 0;
  min-height: 400px;
}
.application_wrapper .create_account_screen .create_account_form > h1 {
  display: block;
  position: relative;
  font-size: 34px;
  letter-spacing: .8px;
  font-weight: 200;
  line-height: 34px;
  margin: 0 0 5px 0;
}
.application_wrapper .create_account_screen .create_account_form p {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: .7px;
  color: #363b4a;
  text-align: center;
  opacity: .5;
  margin: 0 0 30px 0;
}
.application_wrapper .create_account_screen .create_account_form .checkbox_group {
  display: block;
  position: relative;
  min-height: 40px;
}
.application_wrapper .create_account_screen .create_account_form .checkbox_group span {
  letter-spacing: .5px;
}
.application_wrapper .create_account_screen .create_account_form .github_link {
  display: block;
  position: relative;
  margin: 50px 0 50px 0;
  opacity: 0;
  -moz-animation: fadeIn 0.4s 0.3s ease-in-out forwards;
  -ms-animation: fadeIn 0.4s 0.3s ease-in-out forwards;
  -webkit-animation: fadeIn 0.4s 0.3s ease-in-out forwards;
  -o-animation: fadeIn 0.4s 0.3s ease-in-out forwards;
  animation: fadeIn 0.4s 0.3s ease-in-out forwards;
}
.application_wrapper .create_account_screen .create_account_form .github_link svg {
  width: 26px;
  height: 26px;
}
.application_wrapper .create_account_screen .create_account_form .github_link svg path {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #545a6a;
}
.application_wrapper .create_account_screen .create_account_form .github_link:hover svg path {
  fill: #40b4de;
}
.application_wrapper .create_account_screen form {
  width: 430px;
}
@media only screen and (min-width : 0px) and (max-width : 870px) {
  .application_wrapper .create_account_screen form {
    width: 300px;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
